#steuerung,
#card0,
#editor,
#plugin__flashcard_edit_btn {
    display:none;
}

.flashcard {
    overflow:hidden;
    font-size:26px;
    page-break-before:always;
}

.flashcard img {
    max-height:500px;
    float:center;
}

.flashcard blockquote {
    font-size:80%;
    color:gray;
}
