.flashcard {
	font-size: 22px;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 700px;
    
    min-width: 100px;
    min-height: 500px;
    padding: 1em 2em 1em 2em;
	
    display:none;
}

/* needed in some themes, e.g. sprintdoc */
.flashcard p, .flashcard li{
	font-size: 22px;
}

.flashcard blockquote {
	font-size:14px;
}

.fc_progressbar {
	width:250px;
	background-color:lightgray;
	margin:0 auto;
	margin-top:1em;
}

#fc_progress_fill {
	background-color:lightsteelblue;
	height:10px;
	width:20%
}
	
.fc_button {
	padding: 5px;	
	cursor:pointer;
	border-radius:5px;
}

.fc_button:hover {
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.fc_button img {
	float:left;
	padding:5px;
	padding-right:10px;
	
	
}

.fc_button .fc-btn-caption {
	font-weight:bold;
}

.fc_button span {
	font-size:75%;
	color:gray;
	display:inherit;
}

#fc_info {
	padding-top: 5px;
    font-size: 10px;
    color: gray;
}

#steuerung {
	width:100%;
	text-align:center;
	display:none;
}

#editor {
	text-align:center;
	display:none;
}

#cardtext {
    font-family: Courier;
    font-size: 19px;
    padding: 1em;
    line-height: 1.5;
    background-color: linen;
	border:none;
	max-width:100%;
}

#plugin__flashcard_edit_btn {
	float: right;
	border: 1px solid gray;
	padding: 1px 10px;
	color: gray;
	display:none;
	position: absolute;
	right: 3.5em;
	cursor:pointer;
}

#editor_ribbon {
	margin-bottom:1em;
}

#ajax_wait{
	display:none;
}

.plugin__flashcards__bottomribbon {
    margin-top:1em;
}

.plugin__flashcards_fp_border {
    border:1px solid lightgray;
    padding-left:10px;
    overflow:hidden;
}

.plugin__flashcards_fp_header {
    margin-left:-10px;
    padding-left:1em;
    font-size:70%;
    color:gray;
    background:lightgray;
    margin-bottom:1em;
}

#plugin__flashcard_message {
    max-width:350px;
    margin:0 auto;
    margin-top:1em;
    border:1px solid steelblue;
    background-color:#dceafd;
    color:black;
    border-radius:2px;
    padding:2px 4px 2px 4px;
    font-size:12px;
    text-align:center;
    display:none;
}

@media (max-width: 550px) {
    .flashcard {
        padding:0px 0px 0px 0px;
        font-size: 19px;
    }
    
    .flashcard p, .flashcard span,  .flashcard li{
        font-size: 19px;
    }
    
    #steuerung {
        position:fixed;
        bottom:0px;
        background-color:white;
        border-top:3px solid lightsteelblue;
        z-index:2;
        left:0;
        box-shadow: 0px 5px 20px 5px #888;
    }
    
    body {
        padding-bottom:4em;
    }
}
